<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a href="index.html">
              <img src="/assets/img/logo.png" alt="">
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <nav class="main-menu">
            {{#ifEquals persist false}}
            <ul>
              <li class="current-list-item"><a href="/">Home</a>
              </li>
              <li><a href="/about">About</a></li>

              <li><a href="contact.html">Contact</a></li>
              <li><a href="/shop">Shop</a>
              </li>

              <li><a href="/signin">Sign in</a></li>
              <li><a href="/signup">Sign up</a></li>
              <li>
                <div class="header-icons">
                  <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                  <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                </div>
              </li>
            </ul>
            {{else ifEquals persist "user"}}
            <ul>
              <li><a href="/dashboard">Dashboard</a>
              <li><a href="/about">About</a></li>
              <li><a href="/shop">Shop</a>
              <li><a href="/cart">My Cart</a>
              <li><a href="/myprofile">My User Profile</a>
              <li><a href="/logout">Logout</a></li>
            </ul>
            {{else}}
            <ul>
              <li><a href="/dashboard">Dashboard</a>
              <li><a href="/about">About</a></li>
              <li><a href="/myprofile">My Profile</a>
              <li><a href="/addproduct">Add Product</a>
              <li><a href="/myproducts">My Product</a>
              <li><a href="/logout">Logout</a></li>
            </ul>
            {{/ifEquals}}
          </nav>
          <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input type="text" placeholder="Keywords">
            <button type="submit">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search area -->