<div class="testimonail-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <div class="testimonial-sliders">
          <div class="single-testimonial-slider">
            <h3><span class="orange-text">Our</span> Team</h3>
            <div class="client-avater">
              <img src="assets/img/avaters/salman.jpg" alt="">
            </div>
            <div class="client-meta">
              <h3>Salman Adhikari<span>Founder</span></h3>
              <p class="testimonial-body lead">
                Department of Information Technology
              </p>
              <p class="testimonial-body lead">
                SIES Graduate School of Technology
              </p>
              <p class="testimonial-body lead">
                University of Mumbai
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
            <div class="text-center mt-5">
              <a href="#"><i class="bi bi-twitter mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-facebook mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-linkedin mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-instagram mx-3 lead"></i></a>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <h3><span class="orange-text">Our</span> Team</h3>
            <div class="client-avater">
              <img src="assets/img/avaters/mayank.jpg" alt="">
            </div>
            <div class="client-meta">
              <h3>Mayank Raj <span>Founder</span></h3>
              <p class="testimonial-body lead">
                Department of Information Technology
              </p>
              <p class="testimonial-body lead">
                SIES Graduate School of Technology
              </p>
              <p class="testimonial-body lead">
                University of Mumbai
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
            <div class="text-center mt-5">
              <a href="#"><i class="bi bi-twitter mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-facebook mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-linkedin mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-instagram mx-3 lead"></i></a>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <h3><span class="orange-text">Our</span> Team</h3>
            <div class="client-avater">
              <img src="assets/img/avaters/kunal.jpg" alt="">
            </div>
            <div class="client-meta">
              <h3>Kunal Kumbhare <span>Founder</span></h3>
              <p class="testimonial-body lead">
                Department of Information Technology
              </p>
              <p class="testimonial-body lead">
                SIES Graduate School of Technology
              </p>
              <p class="testimonial-body lead">
                University of Mumbai
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
            <div class="text-center mt-5">
              <a href="#"><i class="bi bi-twitter mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-facebook mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-linkedin mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-instagram mx-3 lead"></i></a>
            </div>
          </div>
          <div class="single-testimonial-slider">
            <h3><span class="orange-text">Our</span> Team</h3>
            <div class="client-avater">
              <img src="assets/img/avaters/ruchir.jpeg" alt="">
            </div>
            <div class="client-meta">
              <h3>Ruchir Rao <span>Founder</span></h3>
              <p class="testimonial-body lead">
                Department of Information Technology
              </p>
              <p class="testimonial-body lead">
                SIES Graduate School of Technology
              </p>
              <p class="testimonial-body lead">
                University of Mumbai
              </p>
              <div class="last-icon">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
            <div class="text-center mt-5">
              <a href="#"><i class="bi bi-twitter mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-facebook mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-linkedin mx-3 lead"></i></a>
              <a href="#"><i class="bi bi-instagram mx-3 lead"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>