<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>

  {{> navbar}}
  <!-- search area -->

  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h2 class="pb-3 text-light">Here is a little bit about <span class="orange-text">Meal Diaries</span></h2>
            <h1 style="color: #F28123;">About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- featured section -->
  <div class="feature-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="featured-text">
            <h2 class="pb-3">Why <span class="orange-text">Meal Diaries</span></h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                <div class="list-box d-flex">
                  <div class="list-icon">
                    <i class="fas fa-shipping-fast"></i>
                  </div>
                  <div class="content">
                    <h3>Home Delivery</h3>
                    <p>Free Shipping</p>
                    <p>When order over ₹300</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                <div class="list-box d-flex">
                  <div class="list-icon">
                    <i class="fas fa-money-bill-alt"></i>
                  </div>
                  <div class="content">
                    <h3>Best Price</h3>
                    <p>We offer the most pocker-friendly prices to our customers</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                <div class="list-box d-flex">
                  <div class="list-icon">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="content">
                    <h3>Custom Box</h3>
                    <p>You will receive your orders in our custom box as a token of appreciation</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="list-box d-flex">
                  <div class="list-icon">
                    <i class="fas fa-sync-alt"></i>
                  </div>
                  <div class="content">
                    <h3>Quick Refund</h3>
                    <p>Our customer support team will help you with any refund related issue immediately</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end featured section -->

  <!-- shop banner -->
  {{!-- <section class="shop-banner">
    <div class="container">
      <h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
      <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
      <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
    </div>
  </section> --}}
  <!-- end shop banner -->

  <!-- team section -->

  <!-- testimonail-section -->
  {{> testimonail}}
  <!-- end testimonail-section -->



  {{> footer}}
  <!-- jquery -->
  {{> script}}

</body>

</html>