<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

  {{> navbar}}


  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Hello Seller</p>
            <h1>Provide the details of the product</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- check out section -->
  <div class="checkout-section mt-150 mb-150">
    <div class="container">
      {{#if message.success}}

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message.success }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-lg-8">
          <div class="checkout-accordion-wrap">
            <div class="accordion" id="accordionExample">
              <div class="card single-accordion">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      Your Product
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="billing-address-form">
                      <form action="/addproduct" method="post" enctype="multipart/form-data">
                        <p><input type="text" placeholder="Name" id="name" name="name"></p>
                        <p><input type="file" placeholder="Image" onchange="readURL(this);" id="image" name="image"></p>
                        <div class="img-div" style="display: none;" id="img-div">

                          <img id="blah" src="#" class="marksheet-img mb-4" alt="" height="100px">
                        </div>
                        <p><input type="number" placeholder="Price ₹" id="price" name="price"></p>
                        <p><input name="description" id="description" placeholder="Description"></input></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card single-accordion">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <input type="checkbox" id="IsVeg" name="isVeg" value="true">
                    <label for="IsVeg"> Is Veg</label><br>
                  </h5>
                </div>

              </div>
              <div class="card single-accordion">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <input type="checkbox" id="IsAvailable" name="isAvailable" value="true">
                    <label for="IsAvailable"> Is Available</label><br>
                  </h5>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-4">
          <div class="order-details-wrap">
            <table class="current-list-item">

              <label> Select Category: </label> <br>
              <select id="category" name="category">

                <option value="breakfast"> Breakfast
                </option>
                <option value="launch"> Lunch
                </option>
                <option value="dinner"> Dinner
                </option>
                <option value="snacks"> Snacks
                </option>
              </select>
            </table><br><br><br><br><br>
             <button style =" border-radius: 20px" type="submit" class="button button1">Proceed...</button>
          <style>
.button {
  background-color: #ff7300;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: white; 
  color: #ff7300; 
  border: 2px solid #ff7300;
}

.button1 {
  background-color: #ff7300;
  color: white;
}
</style>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  {{> footer}}

  {{> script }}
  <script>
    function readURL(input) {
      $("#img-div").show();
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#blah')
            .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <script>
    var fileData;
    var myFile;
    $('#image').change(function () {
      var filereader = new FileReader();
      filereader.onload = function (event) {
        fileData = event.target.result;
      };
      myFile = $('#image').prop('files')[0];
      console.log('myfile', myFile)
      filereader.readAsDataURL(myFile)
    });
    function submitForm(e) {
      e.preventDefault();
      var name = document.getElementById("name").value;
      var price = document.getElementById("price").value;
      var description = document.getElementById("description").value;
      var IsVeg = document.getElementById("IsVeg").value;
      var IsAvailable = document.getElementById("IsAvailable").value;
      var category = document.getElementById("category").value;
      var image = document.getElementById("image").value;
      var data = {
        name,
        price,
        description,
        IsVeg,
        IsAvailable,
        category,
        image: fileData,
        filename: myFile.name
      }
      console.log(data);
      $.ajax({
        url: "/addproduct",
        type: "POST",
        mimeType: "multipart/form-data",
        data: data,
        success: function (data) {
          console.log(data);
        },
        error: function (err) {
          console.log(err);
        }
      })
    }
  </script>
</body>

</html>