<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"

  <!-- title -->
  <title>Meal Diaries</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- owl carousel -->
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <!-- magnific popup -->
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <!-- animate css -->
  <link rel="stylesheet" href="assets/css/animate.css">
  <!-- mean menu css -->
  <link rel="stylesheet" href="assets/css/meanmenu.min.css">
  <!-- main style -->
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- responsive -->
  <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>
{{> navbar}}
  <!-- end header -->

  <!-- search area -->
  <div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="close-btn"><i class="fas fa-window-close"></i></span>
          <div class="search-bar">
            <div class="search-bar-tablecell">
              <h3>Search For:</h3>
              <input type="text" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end search area -->

  <!-- hero area -->
  <div class="hero-area hero-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-2 text-center">
          <div class="hero-text">
            <div class="hero-text-tablecell">
              <form>
                <div class="row text-light">
                  <div class="col">
                    <div class="form-group">
                      <label for="name">Enter Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                      <small id="emailHelp" class="form-text text-light">We'll never share your
                        email with
                        anyone else.</small>
                    </div>
                  </div>
                  <div class="col">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                  </div>
                </div>
                <div class="row text-light">
                  <div class="col">

                    <div class="form-group">
                      <label for="phone">Enter Phone</label>
                      <input type="text" name="phoneNo" class="form-control" id="phone">
                    </div>
                  </div>
                  <div class="col">

                    <div class="form-group">
                      <label for="houseNo">Enter House No.</label>
                      <input type="text" name="houseNo" class="form-control" id="houseNo">
                    </div>
                  </div>
                  <div class="col">

                    <div class="form-group">
                      <label for="sector">Enter Sector</label>
                      <input type="text" name="sector" class="form-control" id="sector">
                    </div>
                  </div>
                </div>
                <div class="row text-light">
                  <div class="col">

                    <div class="form-group">
                      <label for="city">Enter City</label>
                      <input type="text" name="city" class="form-control" id="city">
                    </div>
                  </div>
                  <div class="col">

                    <div class="form-group">
                      <label for="state">Enter State</label>
                      <input type="text" name="state" class="form-control" id="state">
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="pincode">Enter Pincode</label>
                      <input type="text" name="pincode" class="form-control" id="pincode">
                    </div>
                  </div>
                </div>
                <div class="form-group form-check text-light">
                  <input type="checkbox" name="isSeller" class="form-check-input" id="exampleCheck1" value="true">
                  <label class="form-check-label" for="exampleCheck1">Signup As Seller</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <!-- bootstrap -->
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
  <!-- count down -->
  <script src="assets/js/jquery.countdown.js"></script>
  <!-- isotope -->
  <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
  <!-- waypoints -->
  <script src="assets/js/waypoints.js"></script>
  <!-- owl carousel -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- magnific popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- mean menu -->
  <script src="assets/js/jquery.meanmenu.min.js"></script>
  <!-- sticker js -->
  <script src="assets/js/sticker.js"></script>
  <!-- main js -->
  <script src="assets/js/main.js"></script>
  <script>
    function getFormData($form) {
      var unindexed_array = $form.serializeArray();
      console.log(unindexed_array);
      var indexed_array = {};

      $.map(unindexed_array, function (n, i) {
        indexed_array[n['name']] = n['value'];
      });

      return indexed_array;
    }
    const url = "signup";
    const form = document.querySelector("form");
    form.addEventListener('submit', (e) => {
    var $form = $("form");
    var data = getFormData($form);
      e.preventDefault();
      console.log(data);
      $.ajax({
        url: url,
        type: "POST",
        data: { ...data, isSeller: document.getElementById("exampleCheck1").checked },
        success: function (response) {
          alert("success");
          window.location.replace(response.url)
        },
        error: function (error) {
          alert(error.responseJSON.error ? error.responseJSON.error:error.message);
        },
      });
    })
  </script>
</body>

</html>