<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

  <!-- title -->
  <title>My Product</title>

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <!-- owl carousel -->
  <link rel="stylesheet" href="assets/css/owl.carousel.css">
  <!-- magnific popup -->
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <!-- animate css -->
  <link rel="stylesheet" href="assets/css/animate.css">
  <!-- mean menu css -->
  <link rel="stylesheet" href="assets/css/meanmenu.min.css">
  <!-- main style -->
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- responsive -->
  <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

  {{> navbar}}

  <!-- search area -->
  <div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="close-btn"><i class="fas fa-window-close"></i></span>
          <div class="search-bar">
            <div class="search-bar-tablecell">
              <h3>Search For:</h3>
              <input type="text" placeholder="Keywords">
              <button type="submit">Search <i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end search arewa -->

  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">

            <h3 style="color:white">These are the Available Products</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- products -->
  <div class="product-section mt-150 mb-150">
    <div class="container">



      <div class="row product-lists">
        <div class="col-lg-4 col-md-6 text-center strawberry">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
            </div>
            <h3>Strawberry</h3>
            <p class="product-price"><span>Per Kg</span> 85$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-pen"></i> Edit Food</a>

            <a href="#" class="cart-btn"><i class="fas fa-sell"></i> Add Offer</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center berry">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
            </div>
            <h3>Berry</h3>
            <p class="product-price"><span>Per Kg</span> 70$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>

            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center lemon">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
            </div>
            <h3>Lemon</h3>
            <p class="product-price"><span>Per Kg</span> 35$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>

            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-4.jpg" alt=""></a>
            </div>
            <h3>Avocado</h3>
            <p class="product-price"><span>Per Kg</span> 50$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>

            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-5.jpg" alt=""></a>
            </div>
            <h3>Green Apple</h3>
            <p class="product-price"><span>Per Kg</span> 45$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>

            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center strawberry">
          <div class="single-product-item">
            <div class="product-image">
              <a href="single-product.html"><img src="assets/img/products/product-img-6.jpg" alt=""></a>
            </div>
            <h3>Strawberry</h3>
            <p class="product-price"><span>Per Kg</span> 80$ </p>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
            <a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add Offer</a>
          </div>
        </div>
      </div>


    </div>
  </div>
  {{> footer}}

  <!-- jquery -->
  <script src="assets/js/jquery-1.11.3.min.js"></script>
  <!-- bootstrap -->
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- count down -->
  <script src="assets/js/jquery.countdown.js"></script>
  <!-- isotope -->
  <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
  <!-- waypoints -->
  <script src="assets/js/waypoints.js"></script>
  <!-- owl carousel -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- magnific popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- mean menu -->
  <script src="assets/js/jquery.meanmenu.min.js"></script>
  <!-- sticker js -->
  <script src="assets/js/sticker.js"></script>
  <!-- main js -->
  <script src="assets/js/main.js"></script>

</body>

</html>